
    <div style="text-align:center">
      <h1>My Manager Details</h1>
    </div>
    <form>
      <div class="col-2">
        <label>
          Employee ID
          <input placeholder={{employeeId}} tabindex="1" />
        </label>
      </div>
      <div class="col-2">
        <label>
          Employee Name
          <input placeholder={{name}} tabindex="2" />
        </label>
      </div>
      <div class="col-3">
        <label>
          Employee Phone
          <input placeholder={{phone}} tabindex="3" />
        </label>
      </div>
      <div class="col-3">
        <label>
          Employee Email
          <input placeholder={{email}} tabindex="4" />
        </label>
      </div>
      <div class="col-3">
        <label>
          Employee Department
          <input placeholder={{dept}} tabindex="6" />
        </label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" (click)="onback()">Back</button>
      </div>
    </form>
    