body{
    width: 100%;
    height:  100%;
    margin: 0 auto;
    min-height: 500px;
}

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box input{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 90px;
    background: #1c8adb;
    color: #fff;
    font-size: 28px;
    border-radius: 20px;
}
su
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}
#wrap{
    width:1320px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;    
    
}
.left{
    width:330px;
    background-color:white;
    height:123px;
    float:left;
    height:80%;
    opacity:0.9;
}


.right{
    width:330px;
    background-color:white;
    height:123px;
    float:right;
    height:80%;
    opacity:0.9;
}

.centre{
    width:330px;
    background-color:white  ;
    height:123px;
    float:right;
    height:80%;
    opacity:0.9;
}

.farcentre{
    width:330px;
    background-color:white;
    height:123px;
    float:right;
    height:80%;
    opacity:0.9;
    
    
}

#mds{
    border: none;
    outline: none;
    height: 90px;
    background: #1c8adb;
    color: #fff;
    font-size: 28px;
    border-radius: 20px;
    position: relative;
    top: 200px;
    left: 28px;
}
#mds:hover{
    cursor: pointer;
    background: #39dc79;
    color: #000;
    font-weight:Bold;
     font-family:Monotype corsiva;
    margin-bottom:4px;
}
#mgds{
    border: none;
    outline: none;
    height: 90px;
    background: #1c8adb;
    color: #fff;
    font-size: 22px;
    border-radius: 20px;
    position: relative;
    top: 200px;
    left: 28px;
}
#mgds:hover{
    cursor: pointer;
    background: #39dc79;
    color: #000;
    font-weight:Bold;
    margin-bottom:4px;
}
#lds{
    border: none;
    outline: none;
    height: 90px;
    background: #1c8adb;
    color: #fff;
    font-size: 22px;
    border-radius: 20px;
    position: relative;
    top: 200px;
    left: 28px;
}
#lds:hover{
    cursor: pointer;
    background: #39dc79;
    color: #000;
    font-weight:Bold;
    margin-bottom:4px;
}
#pds{
    border: none;
    outline: none;
    height: 90px;
    background: #1c8adb;
    color: #fff;
    font-size: 10px;
    border-radius: 20px;
    position: relative;
    top: 200px;
    left: 28px;
}
#pds:hover{
    cursor: pointer;
    background: #39dc79;
    color: #000;
    font-weight:Bold;
    margin-bottom:4px;
}
.container-fluid{padding:10px; column-gap: 40px;
    margin-left: 25%;
    }
    

    .button1{
        background-color: rgb(233, 47, 47);
        border: none;
        border: 0;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button2{
        background-color: rgb(103, 206, 103);
        border: none;
        border: 0;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button3{
        background-color: rgba(241, 200, 13, 0.945);
        border: none;
        border: 0;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button4{
        background-color: rgb(21, 159, 190);
        border: none;
        border: 0;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button5{
        background-color:  rgb(59, 56, 56);
        border: none;
        border: 0;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    #myDetails{
        padding: 20px; 
        margin: 20px;
        background-color: rgb(233, 47, 47);
      }
    #myLeave{
        padding: 20px; 
        margin: 20px;
        background-color: rgba(241, 200, 13, 0.945);
    }
    #myManager{
        padding: 20px; 
        margin: 20px;
        background-color: rgb(103, 206, 103);
    }
    #mypending{
        padding: 20px; 
        margin: 20px;
        background-color: rgb(59, 56, 56);
    }
    #myReport{
        padding: 20px; 
        margin: 20px;
        background-color: rgb(21, 159, 190);
    }
     .container-fluid{
        padding-bottom: 95px;
        margin-left: 425px; 
    } 
    .boxx {
        border-radius: 10%;
        background-color: #295f0852;
        padding: 10px;
        color: rgb(109, 100, 100);
        display: inline-block;
        position: relative;
        top: -710px;
        margin-left: 20px;
        margin-right: 5px;
        font-size: 1.2em;
        /* padding: 20px; 
        margin: 20px;
        background-color: rgb(233, 47, 47); */
      }
      
      .blok i {
        border-radius: 50%;
        background: #1ea5df;
        padding: 10px;
        color: white;
        display: inline-block;
        position: relative;
        top: -710px;
        margin-left: 20px;
        margin-right: 5px;
        font-size: 1.2em;
      }
      .blok .kl {
        background: #978ded;
      }
      
      .blok .pl {
        background: #facaee;
      }
      
      .blok .no {
        display: inline-block;
      }
      
      .blok .no p:first-child {
        font-weight: 700;
        font-size: 1.2em;
        position: relative;
        top: -650px;

      }
      
      .blok .no p:nth-child(2) {
        position: relative;
        top: -660px;
        font-size: 1.8em;
        font-weight: 700;
      }
      .blok1 i {
        border-radius: 50%;
        background: #1ea5df;
        padding: 10px;
        color: white;
        display: inline-block;
        position: relative;
        top: -650px;
        margin-left: 20px;
        margin-right: 5px;
        font-size: 1.2em;
      }
      .blok1 .kl {
        background: #978ded;
      }
      
      .blok1 .pl {
        background: #facaee;
      }
      
      .blok1 .no {
        display: inline-block;
      }
      
      .blok1 .no p:first-child {
        font-weight: 700;
        font-size: 1.2em;
        position: relative;
        top: -600px;

      }
      
      .blok1 .no p:nth-child(2) {
        position: relative;
        top: -610px;
        font-size: 1.8em;
        font-weight: 700;
      }
      .blok2 i {
        border-radius: 50%;
        background: #1ea5df;
        padding: 10px;
        color: white;
        display: inline-block;
        position: relative;
        top: -650px;
        margin-left: 20px;
        margin-right: 5px;
        font-size: 1.2em;
      }
      .blok2 .kl {
        background: #978ded;
      }
      
      .blok2 .pl {
        background: #facaee;
      }
      
      .blok2 .no {
        display: inline-block;
      }
      
      .blok2 .no p:first-child {
        font-weight: 700;
        font-size: 1.2em;
        position: relative;
        top: -600px;

      }
      
      .blok2 .no p:nth-child(2) {
        position: relative;
        top: -610px;
        font-size: 1.8em;
        font-weight: 700;
      }
      
      
      
      /* .gains {
        width: 80%;
        padding: 20px 8%;
        margin: 5px auto;
        background: #ffffff;
        
      } */
      
       /* @media only screen and (max-width: 800px) {
        .option {
          width: 90%;
          display: none;
        }
         .dashboard-heading {
           width: 100%;
         }
         .blok i {
           display: none;
         }
      } */
